@use 'styles.scss' as *;

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn,
button {
  all: unset;
  display: inline-block;
  margin: $spacing2 0;
  padding: $spacing2 $spacing4;
  border-radius: $spacing5;
  cursor: pointer;
  font-weight: 400;
  font-size: $spacing3;
  transition: all 0.3s ease-in-out;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  text-wrap: balance;
  font-family:$font-family-primary;
  font-optical-sizing: auto;
  font-family: $spacing3;
  line-height: 1.6;
}

// Global link styles
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: $spacing2 0;
}