@use 'styles.scss' as *;

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global link styles
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    border-bottom: 2px $primary-color solid;
    text-decoration: unset;
  }
}

p {
  margin: $spacing2 0;
}
.btn, button{
  all: unset;
  display: inline-block;
  margin: $spacing2 0;
  padding: $spacing1 $spacing4;
  border-radius: $spacing5;
  cursor: pointer;
  font-weight: 400;
  font-size: $spacing3 + 2;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  text-wrap: balance;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

