@use '../../styles/styles.scss' as *;

.header {
    max-width: 80%;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px $border-bottom-color solid;
    margin: 0 auto;

    &-logo {
        cursor: pointer;

        .header-image {
            width: $spacing8;
            height: $spacing5;
        }
    }

    &-nav {
        .nav-list {
            list-style: none;

            .nav-item {
                flex-direction: row;

                .nav-link {
                    color: $text-main-color;
                    font-weight: 500;
                    font-size: $spacing3;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }
        }

    }


    .account-button {
        background-color: $primary-color;
        color: $white;
        line-height: $spacing5;
    }
}