@use '../../scss/styles.scss' as *;

.header {
    max-width: 75%;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px $border-bottom-color solid;
    

    &-logo {
        cursor: pointer;

        .header-image {
            width: $spacing8;
            height: $spacing5;
        }
    }

    &-nav {
        .nav-list {
            list-style: none;

            .nav-item {
                flex-direction: row;
                padding: $spacing2;

                .nav-link {
                    color: $text-main-color;
                    font-weight: 500;
                    font-size: $spacing3;
                    font-family: $font-family-secondary;
                    text-decoration: none;
                }
            }
        }

    }


    .account-button {
        background: linear-gradient(90deg, #5F6FFF, #3E4FCC);
        color: $white;
        min-width: ($spacing6 + $spacing4 + $spacing2 + 2);
        height: ($spacing4 + $spacing2);
        @extend .hover;
    }
}