@use "sass:list"; //  Import the list module

// colors
$primary-color: #5F6FFF;
$secondary-color30: #C9D8FF;
$tertiary-color: #EAEFFF;
$text-main-color: #1F2937;
$text-secondary-color: #4B5563;
$text-tertiary-color: #595959;
$border-bottom-color: #ADADAD;
$primary-green: #0FBF00;
$white: white;

// Font Family
$font-family-primary: 'Outfit', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
// spacings
$spacing: 0px;
$spacing1: 4px;
$spacing2: 8px;
$spacing3: 16px;
$spacing4: 20px;
$spacing5: 40px;
$spacing6: 80px;
$spacing7: 160px;
$spacing8: 180px; 
//  font-weight

// Utility classes 
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

section {
    width: 75%;
    margin: 0 auto;
    border-radius: $spacing2;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing4;
}

.flex2>* {
    flex: 1;
    min-width: 400px;
}

.reverse {
    flex-direction: reverse;
}

.hover:hover {
    background: linear-gradient(90deg, #8792FF, #5F6FFF);
}
.hover2{
    transition: all 0.4s ease-in-out;
            &:hover {
                transform: translate(0px, - ($spacing2 + 2)); // = -10px
                text-decoration: none;
            }
}
$spacing-list: $spacing1, $spacing2, $spacing3, $spacing4, $spacing5, $spacing6, $spacing7;

.margin {
    margin: 0 auto;
}

// margin and padding variable
$margin: 'margin';
$padding: 'padding';

// Loop through numbers 1 to 7 to generate horizontal margin classes
//  output: .margin-1-horizontal { margin: <value> auto; }
@for $i from 1 through 7 {
    .#{$margin}-#{$i}#{-horizontal} {
    #{$margin}: list.nth($spacing-list, $i) auto;
    }
}

// Loop through numbers 1 to 7 to generate vertical margin classes
//  output: .margin-1-vertical { margin: auto <value>; }
@for $i from 1 through 7 {
    .#{$margin}-#{$i}#{-vertical} {
        #{$margin}: auto list.nth($spacing-list, $i);
    }
}

@for $i from 1 through 7 {
    .padding-#{$i}-horizontal {
        padding-left: nth($spacing-list, $i);
        padding-right: nth($spacing-list, $i);
    }
}

// Loop through numbers 1 to 7 to generate vertical padding classes
@for $i from 1 through 7 {
    .padding-#{$i}-vertical {
        padding-top: nth($spacing-list, $i);
        padding-bottom: nth($spacing-list, $i);
    }
}