@use '../../scss/styles.scss' as *;

.home {

    .panel {
        background-color: $primary-color;
        opacity: 95%;
        color: $white;

        &-content {
            display: flex;
            flex-direction: column;
            gap: $spacing4; // = 20px
        }

        &-title {
            font-size: $spacing5 + 5; // = 45px

        }

        &-info {
            display: flex;
            gap: $spacing7; // = 160px
            position: relative;
        }

        &-image {
            width: ($spacing4 + $spacing6 + $spacing2); // = 108px
        }

        &-description {
            width: ($spacing5 * 10);
            position: absolute;
            top: -5px;
            left: ($spacing6 + $spacing5); // = 120px
            font-size: ($spacing2 + $spacing1 + 2); // = 14px
        }

        &-doctor-image {
            width: ($spacing8 * 2.78); // = 500.4px
            object-fit: contain;
            margin-bottom: 0;
        }

        .panel-btn {
            background-color: $white;
            color: $text-tertiary-color;
            width: ($spacing2 + $spacing7); // = 168px

            // height: ($spacing4 + $spacing2); // = 28px
        }

        .panel-btn:hover {
            transform: scale(1.04);
        }

        .btn-span {
            padding-left: ($spacing2 + 2);
        }

        .btn-arrow {
            width: ($spacing3 - 2);
        }
    }

    .speciality {
        flex-direction: column;

        .speciality-title {
            font-weight: 500;
            font-size: ($spacing4 + $spacing2 + 2); // = 30px
            color: $text-main-color;
        }

        .speciality-desc {
            font-size: ($spacing3 - 2); // = 14px
            font-weight: 400;
            color: $text-secondary-color;
            margin-top: (- $spacing3); // = -16px
        }

        .speciality-list {
            cursor: pointer;
        }

        .speciality-item {
            width: ($spacing6 + $spacing4); // = 100px
        }

        .speciality-item-img {
            width: inherit;
            display: block;
        }

        .speciality-item-desc {
            color: $text-secondary-color;
            font-size: ($spacing1 + $spacing2); // = 12px
            font-weight: 400;
            text-align: center;
        }
    }

    .doctors-list {


        .doctors-list-title {
            font-size: ($spacing5 - 10); // 30px
            font-weight: 500;
            color: $text-main-color;

        }

        .doctors-list-subtitle {
            font-weight: 400;
            font-size: ($spacing3 - 2);
            line-height: ($spacing5 - 2); // 26px
            color: $text-secondary-color
        }

        .doctors-list-btn {
            background-color: #EAEFFF;
            display: block;
            margin-top: ($spacing4 + $spacing2 + 2); //30px
            width: ($spacing4 * 5); //100px
            color: $text-secondary-color;
        }
    }

    .appointmentBanner {
        background-color: $primary-color;
        height: 355px;
        position: relative;

        .appointment-content {
            display: block;
            width: 750px;

            .appointment-title {
                font-size: ($spacing5 + 5); // = 45px
                font-weight: 700;
                color: $white;

            }

            .appointment-btn {
                background-color: $white;
                font-size: $spacing3;
                font-weight: 400;
                color: $text-secondary-color;
                height: 30px;
                width: 130px;

            }

            .appointment-btn:hover {
                transform: scale(1.04);
            }
        }

        .appointment-doctor-img {
            width: 100%;
            /* Ensure it takes the full width of the parent */
            max-width: 360px;
            /* Optional: Set a max width */
            height: 389px;
            position: absolute;
            top: -114px;
            /* Moves the element up */
            left: 740px;
            object-fit: contain;

        }
    }
}